.register-form-container,
.login-form-container {
  position: absolute;
  top: 110%;
  width: 30%;
  left: 35%;
}
/* Add padding to containers */
.form-container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
.email-input,
.password-input,
.name-input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
.email-input:focus,
.password-input:focus,
.name-input:focus {
  background-color: #ddd;
  outline: none;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn,
.loginbtn,
.login-with-google {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover,
.loginbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
.sign-in-link {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.container-signin {
  padding: 10px;
  background-color: white;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
  margin: auto;
}
