body {
  width: 100vw;
  background: #fff;
}
.appletv__container {
  position: relative;
}
.appletv__section1 {
  height: 70vh;
  position: relative;
  text-align: center;
  object-fit: contain;
}
video {
  width: 100%;
  position: absolute;
  object-fit: cover;
  height: 100%;
  left: 0%;
}
.appletv__section1 p,
.appletv__section1 h2 {
  z-index: 100;
  color: white;
  position: absolute;
  top: 0;
  left: 30%;
}
.appletv__section1__overlay > h2 {
  margin-left: 70px !important;
  margin-top: 50px;
}
.appletv__section1__overlay > p {
  font-size: 30px;
  margin-top: 90px;
}
.appletv__section1__overlay > embed {
  visibility: hidden;
}
.appletv__section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 30%;
}
.appletv__section2 > p {
  font-size: 51px;
  margin-top: 10px;
  font-weight: 600;
}
.appletv__section2 > button {
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  background: rgb(30, 144, 255);
}
.appletv__section2 > img {
  margin-top: 15px;
}
.appletv__section2 > span {
  font-size: 20px;
  font-weight: 500;
}
@media screen and (max-width: 500px) {
  .appletv__section2 {
    margin-left: 0;
    left: 3%;
  }
  .appletv__section1__overlay > p {
    visibility: hidden;
  }
}
